<ion-view view-title="Lista de Grupos">
	<ion-content>
		<button class="button button-positive button-fab button-fab-bottom-right" ui-sref="app.categories_edit">
		    <i class="icon ion-plus-round"></i>
		</button>
        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">Grupos</h4>
        </div>
        <ion-list class="">
            <ion-item class="item-icon-right item-avatar" ng-repeat="group in groups" ng-click="selectGroup(group)">
                <img src="img/material4.jpg">
                <h2>{{group.name}}</h2>
                <i class="icon ion-beer muted"></i>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>